<% include ./_headlayout.ejs%>
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h2><%= post.Title%></h2>
                <%if(editor){%>
                    <a href="/controlpanel/posts/edit/<%= post.posturl%>" type="button" class="mdl-chip">
                        <span class="mdl-chip__text">Edit Post</span>
                    </a>
                <%}%>
                <div class="mdl-card__actions mdl-card--border"></div>
                <span><a href="/">HomePage</a> >><a href="/category/<%=post.category%>"><%=post.category%></a> >> <a href="/posts/<%= post.posturl%>"><%= post.Title%></a></span>
                <div class="mdl-card__actions mdl-card--border"></div><br><br>
                <div><%- post.Content%></div>
                
            </div>

             

            <div class="mdl-card__actions">
            <p>Tags: </p>
                <%for(tag of post.tags){%>
                <a href="/tags/<%= tag.toLowerCase()%>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"><%=tag%></a>
                <%}%>
            </div>

            <div class="mdl-card__actions mdl-card--border">            
                <h6>Author: <a href="/profile/<%= post.Author%>"><%=user.name%></a></h6>
                <p><%-user.bio%></p>
                        <a class="zmdi zmdi-facebook-box zmdi-hc-2x" href="<%=user.Social.FaceBook%>" target="_blank"></a>
                        <a class="zmdi zmdi-twitter-box zmdi-hc-2x" href="<%=user.Social.Twitter%>" target="_blank"></a>
                        <a class="zmdi zmdi-globe zmdi-hc-2x" href="<%=user.Social.WebSite%>" target="_blank"></a>
                        <a class="zmdi zmdi-linkedin-box zmdi-hc-2x" href="<%=user.Social.LinkedIn%>" target="_blank"></a>
                        <a class="zmdi zmdi-youtube zmdi-hc-2x" href="<%=user.Social.YouTube%>" target="_blank"></a>
            </div>
            <br>

        </div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
            <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
            <li class="mdl-menu__item">Lorem</li>
            <li class="mdl-menu__item" disabled>Ipsum</li>
            <li class="mdl-menu__item">Dolor</li>
        </ul>
    </section>

<% include ./_footerlayout.ejs%>